.master {
  position: relative;

  .options {
    display: none;
    position: absolute;
    bottom: 23vh;
    left: 67px;
  }

  .card-container {
    transition: 300ms all;
  }
  &:hover {
    .card-container {
      opacity: 0.4;
    }

    .options {
      display: flex;
      opacity: 0.9;
    }
  }
}
