.searchval {
  color: grey;
  position: relative;
  left: 1vw;
  transition: 300ms all;
  width: 210px;
  background-color: #f0f0f0;
  border: none;
}
.searchval:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
