.searchval {
  color: grey;
  position: relative;
  left: 10px;
  transition: 300ms all;
  padding: 4px;
  width: 210px;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid rgba(144, 144, 144, 0.5);
}
.searchval:focus {
  outline: none;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid rgba(144, 144, 144, 0.5);
}
